.scrolling-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
